    <footer>
      <div class="icons">
        <a href="/"><i class="fas fa-home"></i></a>
        <a href="/about"><i class="fas fa-user-astronaut"></i></a>
        <a href="https://www.linkedin.com/in/justyna-zygmunt/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Kotauror"><i class="fab fa-github"></i></a>
        <a href="https://www.codewars.com/users/Kotauror"><i class="fas fa-code"></i></a>
        <a href="https://www.facebook.com/jzzzzzzzzzzzzzzz"><i class="fab fa-facebook-square"></i></a>
        <a href="mailto:zygmunt.justyna@gmail.com"><i class="far fa-envelope"></i></a>
      </div>
    </footer>
  </body>
</html>
