<%- include partials/header.ejs %>

<img src="https://image.ibb.co/cPcm67/meeee.png" class="me">

<div class="main-me-description"> Hello and welcome to my blog! </div>
<div class="sec-me-description"> My name is Justyna, I'm a former lawyer, Makers Academy graduate and a resident apprentice at 8th Light in London. </div>
<div class="grid">
  <div class="skill one-grid">Ruby</div>
  <div class="skill one-grid">Rails</div>
  <div class="skill one-grid">Javascript</div>
  <div class="skill one-grid">Node</div>
  <div class="score one-grid"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
  <div class="score one-grid"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
  <div class="score one-grid"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><i class="far fa-star"></i></div>
  <div class="score one-grid"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
</div>
<div class="grid">
  <div class="skill one-grid">C#</div>
  <div class="skill one-grid">HTML</div>
  <div class="skill one-grid">CSS</div>
  <div class="skill one-grid">Postgres, SQL</div>
  <div class="score one-grid"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
  <div class="score one-grid"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
  <div class="score one-grid"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
  <div class="score one-grid"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
</div>
<div class="grid">
  <div class="skill one-grid">RSpec</div>
  <div class="skill one-grid">Jasmine</div>
  <div class="skill one-grid">Funny cats</div>
  <div class="skill one-grid">Drawing</div>
  <div class="score one-grid"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><i class="far fa-star"></i></div>
  <div class="score one-grid"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><i class="far fa-star"></i></div>
  <div class="score one-grid"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
  <div class="score one-grid"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
</div>

<!-- <div class="projects-info"> Some of my favourite projects: </div>
<div class="projects-grid">
  <a href="https://github.com/MatthewBurstein/emu/"><div class="project emu"><p4>JS EMU Transpiler</p4></div></a>
  <a href="https://github.com/lwkchan/bombercat/"><div class="project bomb"><p4>JS Bomberman</p4></div></a>
  <a href="https://github.com/Kotauror/instagram-challenge"><div class="project ror"><p4>RoR Instagram</p4></div></a>
  <a href="https://github.com/Kotauror/news-summary-challenge"><div class="project guardian"><p4>JS Guardian's summaries</p4></div></a>
  <a href="https://github.com/Kotauror/bowling-challenge"><div class="project bowling"><p4>JS Bowling calculator</p4></div></a>
  <a href="https://github.com/Kotauror/Tic_Tac_Toe_8th_Light"><div class="project tic"><p4>Ruby Tic-Tac-Toe</p4></div></a>
</div> -->

<div class="ending-me">If you have any questions or thoughts, feel free to contact me, I'll be happy to chat! </div>

<%- include partials/footer.ejs %>
