<article class="post">
  <a href="tech-articles/api-use"><section class="post-header">
  <section class="post-header">
      <h1 class="post-title">How to use an API</h2>
  </section>
  <section class="short">
      <p1>My first post - short description...</p>
  </section>
</a>
  <div class="post-info">
      <a href="/about"><p2>J.Zygmunt <a href="https://github.com/Kotauror/news-summary-challenge"><i class="fab fa-github"></i></a></a> | </p2>
      <time class="post-date" datetime="2018-05-02"><p3>10 Mar 2018</p3></time>
  </div>
</article>
