<article class="post">
  <a href="tech-articles/aws-ec2"><section class="post-header">
      <h1 class="post-title"> [AWS] Launching AWS EC2 Instance</h2>
  </section>
  <section class="short">
      <p1> Create and launch an instance of AWS EC2 service - step by step</p1>
  </section>
</a>
  <div class="post-info">
      <a href="/about"><p2>Justyna Zygmunt | </p2></a>
      <time class="post-date" datetime="2018-05-02"><p3>22 Oct 2018</p3></time>
  </div>
</article>
