<article class="post">
  <a href="tech-articles/clojurescript-syntax"><section class="post-header">
  <section class="post-header">
      <h1 class="post-title">Speaking ClojureScript-JavaScript hybrid language</h2>
  </section>
  <section class="short">
      <p1>How ClojureScript syntax is build and how to call JavaScript methods in it.</p>
  </section>
</a>
  <div class="post-info">
    <a href="/about"><p2>J.Zygmunt <a href="https://github.com/Kotauror/warm_places"><i class="fab fa-github"></i></a></a> | </p2>
      <time class="post-date" datetime="2018-07-20"><p3>20 July 2018</p3></time>
  </div>
</article>
