<article class="post">
  <a href="tech-articles/clojurescript-setup"><section class="post-header">
  <section class="post-header">
      <h1 class="post-title">ClojureScript project setup</h2>
  </section>
  <section class="short">
      <p1>How to setup a ClojureScript project (includes Leiningen and Speclj setup)</p>
  </section>
</a>
  <div class="post-info">
    <a href="/about"><p2>J.Zygmunt <a href="https://github.com/Kotauror/ClojureScriptSample"><i class="fab fa-github"></i></a></a> | </p2>
      <time class="post-date" datetime="2018-05-02"><p3>18 July 2018</p3></time>
  </div>
</article>
