<article class="post">
  <a href="tech-articles/ec2-deploy"><section class="post-header">
      <h1 class="post-title"> [AWS] Using CodeDeploy to deploy aplication to an EC2 instance </h2>
  </section>
  <section class="short">
  </section>
</a>
  <div class="post-info">
      <a href="/about"><p2>Justyna Zygmunt | </p2></a>
      <time class="post-date" datetime="2018-05-02"><p3>23 Oct 2018</p3></time>
  </div>
</article>
