<article class="post">
  <a href="tech-articles/event-listener"><section class="post-header">
      <h1 class="post-title">Simple event listener - get data from html form</h2>
  </section>
  <section class="short">
      <p1>My first post - short description...</p>
  </section>
</a>
  <div class="post-info">
      <a href="/about"><p2>Justyna Zygmunt | </p2></a>
      <time class="post-date" datetime="2018-05-02"><p3>09 Mar 2018</p3></time>
  </div>
</article>
