<article class="post">
  <a href="tech-articles/flaskCodeDeploy"><section class="post-header">
  <section class="post-header">
      <h1 class="post-title">[AWS] Deploying python flask application to the EC2 via CodeDeploy</h2>
  </section>
  <section class="short">
  </section>
</a>
  <div class="post-info">
      <a href="/about"><p2>J.Zygmunt <a href="https://github.com/Kotauror/sampleAppPython"><i class="fab fa-github"></i></a></a> | </p2>
      <time class="post-date" datetime="2018-05-02"><p3>24 Oct 2018</p3></time>
  </div>
</article>
