<article class="post">
  <a href="tech-articles/java-access-modifiers"><section class="post-header">
  <section class="post-header">
      <h1 class="post-title">Java access modifieres</h2>
  </section>
  <section class="short">
      <p1>How to specify the scope of data.</p>
  </section>
</a>
  <div class="post-info">
      <a href="/about"><p2>J.Zygmunt </p2>
      <time class="post-date" datetime="2018-05-02"><p3>18 May 2018</p3></time>
  </div>
</article>
