<article class="post">
  <a href="tech-articles/java-to-android"><section class="post-header">
      <h1 class="post-title">How to import Java code into Android app by using JAR</h2>
  </section>
  <section class="short">
      <p1> + UnsupportedClassVersionError problems bonus </p>
  </section>
</a>
  <div class="post-info">
    <a href="/about"><p2>J.Zygmunt <a href="https://github.com/Kotauror/TICTACTOEAndroid"><i class="fab fa-github"></i></a></a> | </p2>
      <time class="post-date" datetime="2018-06-28"><p3>28 June 2018</p3></time>
  </div>
</article>
