<article class="post">
  <a href="tech-articles/minimax"><section class="post-header">
      <h1 class="post-title">Minimax algorithm</h2>
  </section>
  <section class="short">
      <p1>And its implementation in Java Tic-Tac-Toe game</p>
  </section>
</a>
  <div class="post-info">
      <a href="/about"><p2>Justyna Zygmunt | </p2></a>
      <time class="post-date" datetime="2018-05-02"><p3>08 June 2018</p3></time>
  </div>
</article>
