<article class="post">
  <a href="tech-articles/pairing-1"><section class="post-header">
  <section class="post-header">
      <h1 class="post-title">Pairing tour week 1</h2>
  </section>
  <section class="short">
      <p1>What I've learned in a week of pairing with 8thLight crafters</p>
  </section>
</a>
  <div class="post-info">
      <a href="/about"><p2>J.Zygmunt </a>| </p2>
      <time class="post-date" datetime="2018-08-24"><p3>24 Aug 2018</p3></time>
  </div>
</article>
