<article class="post">
  <a href="tech-articles/promise-object"><section class="post-header">
      <h1 class="post-title">Promise object in JS</h2>
  </section>
  <section class="short">
      <p1>My first attempt at explaining the idea of a promise object in JS</p>
  </section>
</a>
  <div class="post-info">
      <a href="/about"><p2>J.Zygmunt</a> | </p2>
      <time class="post-date" datetime="2018-05-02"><p3>01 Mar 2018</p3></time>
  </div>
</article>
