<article class="post">
  <a href="tech-articles/python-postgres"><section class="post-header">
  <section class="post-header">
      <h1 class="post-title">Python - Flask - Postgres</h2>
  </section>
  <section class="short">
      <p1>Connecting the dots and squashing bugs</p>
  </section>
</a>
  <div class="post-info">
      <a href="/about"><p2>J.Zygmunt <a href="https://github.com/Kotauror/contacts_manager"><i class="fab fa-github"></i></a></a> | </p2>
      <time class="post-date" datetime="2018-09-06"><p3>6 Sep 2018</p3></time>
  </div>
</article>
