<article class="post">
  <a href="tech-articles/react-jest-mock"><section class="post-header">
  <section class="post-header">
      <h1 class="post-title">Manual mocks in Jest</h2>
  </section>
  <section class="short">
      <p1>Using manual mocks in Jest tests</p>
  </section>
</a>
  <div class="post-info">
      <a href="/about"><p2>J.Zygmunt </a>| </p2>
      <time class="post-date" datetime="2018-08-24"><p3>19 Oct 2018</p3></time>
  </div>
</article>
