<article class="post">
  <a href="tech-articles/recursion"><section class="post-header">
  <section class="post-header">
      <h1 class="post-title">Recursion instead of <code>for</code> loop</h2>
  </section>
  <section class="short">
      <p1>Explained on fibonacci.</p>
  </section>
</a>
  <div class="post-info">
      <a href="/about"><p2>J.Zygmunt <a href="https://github.com/Kotauror/emu"><i class="fab fa-github"></i></a></a> | </p2>
      <time class="post-date" datetime="2018-05-02"><p3>5 Apr 2018</p3></time>
  </div>
</article>
