<article class="post">
  <a href="tech-articles/run-java"><section class="post-header">
  <section class="post-header">
      <h1 class="post-title">Setting up a Java project with a JUnit testing framework</h2>
  </section>
  <section class="short">
      <p1>IntelliJ and Gradle explained</p>
  </section>
</a>
  <div class="post-info">
      <a href="/about"><p2>J.Zygmunt <a href="https://github.com/Kotauror/coinChanger"><i class="fab fa-github"></i></a></a><a href="https://github.com/Kotauror/coinChangerGradle"><i class="fab fa-github"></i></a></a> | </p2>
      <time class="post-date" datetime="2018-05-02"><p3>17 May 2018</p3></time>
  </div>
</article>
